[dir="rtl"] .hero-content {
  text-align: right;
}


[dir="rtl"] .hero-title span {
  display: inline-block;
}


.hero-section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('./Components/assets/Hero.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

[dir="rtl"] .hero-content {
  text-align: right;
}


[dir="rtl"] .hero-title span {
  display: inline-block;
}

.hero-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 2rem;
}

.hero-title {
  font-size: 4rem;
  color: #ffffff;
  margin-bottom: 1.5rem;
  line-height: 1.2;
}

.hero-title span {
  color: #FCB040;
  display: block;
  font-size: 3.5rem;
}

.hero-subtitle {
  color: rgba(255, 255, 255, 0.9);
  font-size: 1.5rem;
  margin-bottom: 3rem;
}

.cta-button {
  background: rgba(239, 65, 54, 0.9);
  color: white;
  padding: 1.2rem 2.5rem;
  border-radius: 0.5rem;
  font-size: 1.2rem;
  font-weight: 600;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
}

.cta-button:hover {
  background: rgba(200, 50, 40, 0.9);
  transform: translateY(-2px);
}